VITE_API_BASE_URL=/api/v1
VITE_FIREBASE_API_KEY=fake-api-key
VITE_FIREBASE_AUTH_DOMAIN=demo-stds-backend.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=demo-stds-backend
VITE_FIREBASE_APP_ID=demo-stds-frontend
VITE_FIREBASE_USE_EMULATOR=true
VITE_FIREBASE_AUTH_EMULATOR_URL=http://127.0.0.1:9099
VITE_BUG_REPORT_URL=
